@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
    font-family: Arial, sans-serif;
    /* background-color: #f5f5f5; */
    background: linear-gradient(to right, #FFA07A, #FF6347);
}

.container {
    max-width: 90%;
    width: 100%;
    margin: 5em auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #333;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.errors {
    text-align: center;
    color: red;
    margin-bottom: 20px;
}

.row {
    display: flex;
    justify-content: center;
}

.col-12 {
    width: 100%;
}

label {
    display: block;
    margin-bottom: 10px;
}

.align {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

#selectNum {
    width: 100%;
    max-width: 300px;
}

.guessBtn {
    width: 100%;
    max-width: 150px;
}

.guessBtn:hover {
    background-color: #0056b3;
}

.feedback {
    text-align: center;
    font-size: 18px;
    margin-top: 3em;
    padding: 10px;
    background-color: #f0f0f0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.numberGuessed {
    font-family: 'Roboto', sans-serif;
    font-size: large;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

/* New  */

.errors {
    text-align: center;
    color: red;
    font-size: 40;
    text-shadow: 2px 2px 5px red;
}

.feedback.low {
    color: orange;
}

.feedback.high {
    color: red;
}

@media (min-width: 768px) {
    .align {
        flex-direction: row;
        justify-content: center;
    }

    #selectNum, .guessBtn {
        max-width: none;
        width: auto;
    }
}
